<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">[[#{logout}]]</button>
    </form>

    <form th:action="@{/admin/books}" method="get">
        <button type="submit">[[#{admin.books}]]</button>
    </form>

    <form th:action="@{/admin/users}" method="get">
        <button type="submit">[[#{admin.users}]]</button>
    </form>
</body>
</html>