<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Librarian</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">[[#{logout}]]</button>
    </form>

    <br>

    <form th:action="@{/update_reg}" method="get">
        <button type="submit">[[#{update.reg}]]</button>
    </form>

    <br>

    <form th:action="@{/librarian/orders}" method="get">
        <button type="submit">[[#{librarian.orders}]]</button>
    </form>

    <br>

    <form th:action="@{/librarian/readers}" method="get">
        <button type="submit">[[#{librarian.readers}]]</button>
    </form>
</body>
</html>