<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form th:action="@{/}" method="get">
        <button type="submit">[[#{go.to.main.page}]]</button>
    </form>

    <form th:action="@{/register}" th:object="${userDTO}" method="post">
        <table>
            <tr>
                <td>[[#{register.username}]]</td>
                <td><input type="text" name="login" th:field="*{login}"></td>
                <td th:if="${#fields.hasErrors('login')}" style="color: red">[[#{login.error}]]</td>
                <td th:if="${loginExists > 0}" style="color: red">[[#{login.exists.error}]]</td>
            </tr>
            <tr>
                <td>[[#{register.password}]]</td>
                <td><input type="password" name="password" th:field="*{password}"></td>
                <td th:if="${#fields.hasErrors('password')}" style="color: red">[[#{password.error}]]</td>
            </tr>
            <tr>
                <td>[[#{register.firstName}]]</td>
                <td><input type="text" name="first_name" th:field="*{firstName}"></td>
                <td th:if="${#fields.hasErrors('firstName')}" style="color: red">[[#{firstName.error}]]</td>
            </tr>
            <tr>
                <td>[[#{register.lastName}]]</td>
                <td><input type="text" name="last_name" th:field="*{lastName}"></td>
                <td th:if="${#fields.hasErrors('lastName')}" style="color: red">[[#{lastName.error}]]</td>
            </tr>
            <tr>
                <td>[[#{register.email}]]</td>
                <td><input type="text" name="email" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" style="color: red">[[#{email.error}]]</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">[[#{register.button}]]</button>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>